# Rancher Chart files
chart @rancher/orbs

# SCC & Telemetry features
pkg/apis/telemetry.cattle.io @rancher/orbs
pkg/scc @rancher/orbs
pkg/telemetry @rancher/orbs

# Apps markeplace & ui extensions
pkg/catalogv2 @rancher/orbs
pkg/api/steve/catalog @rancher/orbs
pkg/apis/catalog.cattle.io @rancher/orbs
pkg/controllers/dashboard/helm @rancher/orbs
pkg/controllers/dashboard/plugin @rancher/orbs
tests/v2/integration/catalogv2 @rancher/orbs

# Release workflows
.github/workflows @rancher/release-team
.github/actions @rancher/release-team
package/Dockerfile @rancher/release-team
package/Dockerfile.installer @rancher/release-team
