/.dapper
/bin
/dist
/build
*.swp
/.trash-cache
/trash.lock
/.idea
/package/rancher
/package/agent
/tests/MANIFEST
/tests/.cache
/tests/.tox
/tests/.venv
/tests/.idea
/default.etcd
*.pyc
__pycache__
/management-state
/rancher
