/.dapper
/bin
/dist
/build
*.swp
/.trash-cache
/trash.lock
/.idea
/package/rancher
/package/agent
/tests/integration/.idea/workspace.xml
/tests/MANIFEST
/tests/integration/MANIFEST
tests/integration/MANIFEST
/tests/.cache
/tests/.tox
/tests/integration/.tox/
/tests/.venv
/tests/.idea
/default.etcd
*.pyc
__pycache__
/management-state
/rancher
*.pytest_cache
.kube/
tests/integration/.idea/
