image: rancher/rancher-agent:{{#if build.tag}}{{build.tag}}{{else}}{{replace "/" "-" build.branch }}{{/if}}
manifests:
- image: rancher/rancher-agent:{{#if build.tag}}{{build.tag}}{{else}}{{replace "/" "-" build.branch }}{{/if}}-linux-amd64
  platform:
    architecture: amd64
