image: stgregistry.suse.com/rancher/rancher-agent:{{#if build.tag}}{{build.tag}}{{else}}{{replace "release/" "" build.branch }}-head{{/if}}
manifests:
  -
    image: stgregistry.suse.com/rancher/rancher-agent:{{#if build.tag}}{{build.tag}}{{else}}{{replace "release/" "" build.branch }}-{{build.commit}}{{/if}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: stgregistry.suse.com/rancher/rancher-agent:{{#if build.tag}}{{build.tag}}{{else}}{{replace "release/" "" build.branch }}-{{build.commit}}{{/if}}-linux-arm64
    platform:
      architecture: arm64
      os: linux
  -
    image: stgregistry.suse.com/rancher/rancher-agent:{{#if build.tag}}{{build.tag}}{{else}}{{replace "release/" "" build.branch }}-{{build.commit}}{{/if}}-windows-1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: stgregistry.suse.com/rancher/rancher-agent:{{#if build.tag}}{{build.tag}}{{else}}{{replace "release/" "" build.branch }}-{{build.commit}}{{/if}}-windows-ltsc2022
    platform:
      architecture: amd64
      os: windows
      version: ltsc2022
  -
    image: stgregistry.suse.com/rancher/rancher-agent:{{#if build.tag}}{{build.tag}}{{else}}{{replace "release/" "" build.branch }}-{{build.commit}}{{/if}}-linux-s390x
    platform:
      architecture: s390x
      os: linux