git+https://github.com/rancher/client-python.git@fb39798a240b2af6af011f2b69caeea037fe9a08
websocket-client==0.23.0
PyJWT==1.4.0

flake8==2.5.1
pytest==3.0.2
pytest-repeat
pytest-xdist
pyyaml
netaddr
requests
