git+https://github.com/rancher/client-python.git@dba1fe8a9ea39f8ddc20aeedf0ad1463b932b280
websocket-client==0.23.0
PyJWT==1.4.0

flake8==2.5.1
pytest==3.0.2
pytest-repeat
pytest-xdist
pyyaml
netaddr
requests
