git+https://github.com/rancher/client-python.git@fb39798a240b2af6af011f2b69caeea037fe9a08
websocket-client==0.23.0
PyJWT==1.4.0

flake8==2.5.1
pytest==3.4
pytest-repeat==0.5.0
pytest-xdist==1.22.4
pyyaml==3.13
netaddr==0.7.19
requests==2.19.1
kubernetes==6.0.0
Jinja2==2.10
