<div class="sidebar-nav">
    <div class="navbar navbar-inverse" role="navigation">
        
        <!-- Brand and Toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://rancher.com/"><img src="{{site.baseurl}}/img/rancher-logo-nopadding.png"></a>
        </div>
        <div class="clearfix"></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="mainmenu">
                <li><a href="{{site.baseurl}}/">Overview</a></li>
                <li><a href="{{site.baseurl}}/docs/quick-start-guide/">Quick Start Guide</a></li>
                <li>
                    <a class="no-list-group">Installing Rancher</a>
                    <ul class="list-group-submenu" id="installing-rancher">
                        <li><a href="{{site.baseurl}}/docs/installing-rancher/installing-server/">Installing Rancher server</a></li>
                        <ul>
                            <li><a href="{{site.baseurl}}/docs/installing-rancher/installing-server/non-ha/">Non-HA</a></li>
                            <li><a href="{{site.baseurl}}/docs/installing-rancher/installing-server/ha/">HA</a></li>
                        </ul>
                        <li><a href="{{site.baseurl}}/docs/installing-rancher/adding-hosts/">Adding Hosts</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{site.baseurl}}/docs/concepts/">Concepts</a>
                    <ul class="list-group-submenu" id="concepts">
                        <li><a href="{{site.baseurl}}/docs/concepts/#users">Users</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#host">Hosts</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#environments">Environments</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#networking">Networking</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#service-discovery">Service Discovery</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#load-balancer">Load Balancer</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#distributed-dns-service">Distributed DNS Service</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#health-checks">Health Checks</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#service-ha">Service HA</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#service-upgrade">Service Upgrade</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#rancher-compose">Rancher Compose</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#projects">Projects</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#scheduling">Scheduling</a></li>
                        <li><a href="{{site.baseurl}}/docs/concepts/#sidekicks">Sidekicks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{site.baseurl}}/docs/configuration/">Configuration</a>
                    <ul class="list-group-submenu" id="configuration">
                        <li><a href="{{site.baseurl}}/docs/configuration/access-control/">Access Control</a></li>
                        <li><a href="{{site.baseurl}}/docs/configuration/environments/">Environments</a></li>
                        <li><a href="{{site.baseurl}}/docs/configuration/api-keys/">API Keys</a></li>
                        <li><a href="{{site.baseurl}}/docs/configuration/registries/">Registries</a></li>
                        <li><a href="{{site.baseurl}}/docs/configuration/host-registration">Host Registration</a></li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}/docs/native-docker/">Using Rancher through Native Docker CLI</a></li>
                <li><a href="{{site.baseurl}}/docs/rancher-compose/">Rancher Compose</a></li>
                <li>
                    <a href="{{site.baseurl}}/docs/rancher-ui/">Rancher UI</a>
                    <ul class="list-group-submenu" id="rancherui">
                        <li><a href="{{site.baseurl}}/docs/services/">Services</a></li>
                            <ul class="list-group-submenu-submenu" id="services">
                                <li><a href="{{site.baseurl}}/docs/services/projects/">Projects</a>
                                    <ul>
                                        <li><a href="{{site.baseurl}}/docs/services/projects/adding-services/">Adding Services</a></li>
                                        <li><a href="{{site.baseurl}}/docs/services/projects/adding-service-alias/">Adding Service Alias</a></li>
                                        <li><a href="{{site.baseurl}}/docs/services/projects/adding-balancers/">Adding Balancer Services</a></li>
                                        <li><a href="{{site.baseurl}}/docs/services/projects/adding-external-services/">Adding External Services</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/docs/infrastructure/">Infrastructure</a>
                            <ul class="list-group-submenu-submenu" id="infrastructure">
                                <li><a href="{{site.baseurl}}/docs/infrastructure/hosts/">Hosts</a>
                                    <ul class="list-group-submenu" id="hosts">
                                        <li><a href="{{site.baseurl}}/docs/infrastructure/hosts/digitalocean/">DigitalOcean</a></li>
                                        <li><a href="{{site.baseurl}}/docs/infrastructure/hosts/amazon/">Amazon EC2</a></li>
                                        <li><a href="{{site.baseurl}}/docs/infrastructure/hosts/packet/">Packet</a></li>
                                        <li><a href="{{site.baseurl}}/docs/infrastructure/hosts/rackspace/">Rackspace</a></li>
                                        <li><a href="{{site.baseurl}}/docs/infrastructure/hosts/custom/">Adding Custom Hosts</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{site.baseurl}}/docs/infrastructure/containers/">Containers</a></li>
                                <li><a href="{{site.baseurl}}/docs/infrastructure/volumes/">Volumes</a></li>
                                <li><a href="{{site.baseurl}}/docs/infrastructure/load-balancers">Load Balancers</a></li>
                                <li><a href="{{site.baseurl}}/docs/infrastructure/balancer-configs/">Balancer Configs</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}/docs/upgrading/">Upgrading Rancher</a></li>
                <li><a href="{{site.baseurl}}/docs/contributing/">Contributing to Rancher</a></li>
                <li><a href="{{site.baseurl}}/docs/faqs/">FAQs</a>
                    <ul class="list-group-submenu" id="faqs">
                        <li><a href="{{site.baseurl}}/docs/faqs/hosts/">Hosts</a></li>
                        <li><a href="{{site.baseurl}}/docs/faqs/containers/">Containers</a></li>
                    </ul>
                </li>
            </ul><!-- /.navbar-nav -->
        </div><!-- /.navbar-collapse -->
        
        
    </div> <!-- /.navbar-inverse -->
</div> <!-- /.sidebar-nav -->