<div class="row-fluid">
 
 
 <h3>Documentation</h3>
 <div id="navcontainer">
     <ul>
         <li><a href="{{site.baseurl}}/">What is Rancher?</a></li>
         <li><a href="{{site.baseurl}}/docs/getting-started/">Getting Started</a></li>
            <ul>
                <li><a href="{{site.baseurl}}/docs/getting-started/hosts/">Adding Hosts</a></li>
                <ul>
                    <li><a href="{{site.baseurl}}/docs/getting-started/hosts/custom/">Adding existing Hosts</a></li>
                    <li><a href="{{site.baseurl}}/docs/getting-started/hosts/amazon/">Amazon EC2</a></li>
                    <li><a href="{{site.baseurl}}/docs/getting-started/hosts/digitalocean/">DigitalOcean Droplets</a></li>
                </ul>
                <li><a href="{{site.baseurl}}/docs/getting-started/services/">Starting Services</a></li>
            </ul>
     
           
         
         <li><a href="{{site.baseurl}}/docs/containers/">Containers</a></li>
         <li><a href="{{site.baseurl}}/docs/private-registries/">Private Registry</a></li>
         <li><a href="{{site.baseurl}}/docs/load-balancers/">Load Balancing</a></li>
         <li><a href="{{site.baseurl}}/docs/clusters/">Clustering</a></li>
         <li><a href="{{site.baseurl}}/docs/rancher-settings/">Rancher Settings</a>
             <ul><a href="{{site.baseurl}}/docs/rancher-settings/projects/">Projects</a></ul>
             <ul><a href="{{site.baseurl}}/docs/rancher-settings/api/">API</a></ul>
             <ul><a href="{{site.baseurl}}/docs/rancher-settings/access-control/">Access Control</a></ul>
            <ul><a href="{{site.baseurl}}/docs/rancher-settings/host-registration/">Host Registration</a></ul>
          </li>
         <li><a href="{{site.baseurl}}/docs/upgrading/">Upgrading</a></li>
         <li><a href="{{site.baseurl}}/docs/contributing/">Contributing</a></li>
         <li><a href="{{site.baseurl}}/docs/faqs/">FAQs</a></li>
     </ul>
 </div>
</div>