<div class="sidebar-nav">
    <div class="navbar navbar-inverse" role="navigation">
        
        <!-- Brand and Toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://rancher.com/"><img src="{{site.baseurl}}/img/rancher-logo-nopadding.png"></a>
        </div>
        <div class="clearfix"></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{site.baseurl}}/">What is Rancher?</a></li>
                <li>
                    <a>Overview</a>
                    <ul class="list-group-submenu" id="overview">
                        <li><a href="{{site.baseurl}}/docs/getting-started/">Getting Started</a></li>
                        <li><a href="{{site.baseurl}}/docs/getting-started/services/">Starting Services</a></li>
                        <li><a href="{{site.baseurl}}/docs/getting-started/projects/">Sharing Projects</a></li>
                        <li><a href="{{site.baseurl}}/docs/getting-started/hosts/">Adding Hosts</a></li>
                        <ul>
                            <li><a href="{{site.baseurl}}/docs/getting-started/hosts/custom/">Adding existing Hosts</a></li>
                            <li><a href="{{site.baseurl}}/docs/getting-started/hosts/amazon/">Amazon EC2</a></li>
                            <li><a href="{{site.baseurl}}/docs/getting-started/hosts/digitalocean/">DigitalOcean Droplets</a></li>
                        </ul>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}/docs/private-registries/">Private Registry</a></li>
                <li><a href="{{site.baseurl}}/docs/load-balancers/">Load Balancing</a></li>
                <li><a href="{{site.baseurl}}/docs/upgrading/">Upgrading</a></li>
                <li><a href="{{site.baseurl}}/docs/contributing/">Contributing</a></li>
                <li>
                    <a>Running RancherOS</a>
                    <ul class="list-group-submenu" id="faqs">
                        <li><a href="{{site.baseurl}}/docs/faqs/load-balancers/">Load Balancers</a></li>
                        <li><a href="{{site.baseurl}}/docs/faqs/hosts/">Hosts</a></li>
                        <li><a href="{{site.baseurl}}/docs/faqs/containers/">Containers</a></li>
                    </ul>
                </li>
            </ul><!-- /.navbar-nav -->
        </div><!-- /.navbar-collapse -->
        
        
    </div> <!-- /.navbar-inverse -->
</div> <!-- /.sidebar-nav -->