<div class="sidebar-nav">
    <div class="navbar navbar-inverse" role="navigation">
        
        <!-- Brand and Toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://rancher.com/"><img src="{{site.baseurl}}/img/rancher-logo-nopadding.png"></a>
        </div>
        <div class="clearfix"></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="mainmenu">
                <li><a href="{{site.baseurl}}/">Overview</a></li>
                <li><a href="{{site.baseurl}}/docs/quick-start-guide/">Quick Start Guide</a></li>
                <li class="panel">
                     <a href="#installing-rancher" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Installing Rancher<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                     <ul class="collapse list-group-submenu" id="installing-rancher">
                        <li>
                            <a href="#installing-server" data-toggle="collapse" class="collapsed" data-parent="#installing-server">Installing Rancher server<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                              <ul class="collapse" id="installing-server">
                                 <li><a href="{{site.baseurl}}/docs/installing-rancher/installing-server/">Single Node</a></li>
                                 <li><a href="{{site.baseurl}}/docs/installing-rancher/installing-server/multi-nodes/">Multi Nodes</a></li>
                                 <li><a href="{{site.baseurl}}/docs/installing-rancher/installing-server/basic-ssl-config/">Basic SSL Configuration</a></li>
                             </ul>
                        </li>
                        <li><a href="{{site.baseurl}}/docs/installing-rancher/adding-hosts/">Adding Hosts</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a href="#concepts" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Concepts<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="concepts">
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#users">Users</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#environments">Environments</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#host">Hosts</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#networking">Networking</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#service-discovery">Service Discovery</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#load-balancer">Load Balancer</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#distributed-dns-service">Distributed DNS Service</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#health-checks">Health Checks</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#service-ha">Service HA</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#service-upgrade">Service Upgrade</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#rancher-compose">Rancher Compose</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#stacks">Stacks</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/docs/concepts/#container-scheduling">Scheduling</a></li>
                     
                    </ul>
                 
                </li>
                <li class="panel">
                    <a href="#configuration" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Configuration<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <!--OLD href="{{site.baseurl}}/docs/configuration/"-->
                    <ul class="collapse list-group-submenu" id="configuration">
                        <li><a href="{{site.baseurl}}/docs/configuration/access-control/">Access Control</a></li>
                        <li><a href="{{site.baseurl}}/docs/configuration/environments/">Environments</a></li>
                        <li><a href="{{site.baseurl}}/docs/configuration/api-keys/">API Keys</a></li>
                        <li><a href="{{site.baseurl}}/docs/configuration/registries/">Registries</a></li>
                        <li><a href="{{site.baseurl}}/docs/configuration/host-registration">Host Registration</a></li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}/docs/native-docker/">Using Rancher through Native Docker CLI</a></li>
                
                <li class="panel">
                    <a href="#rancher-compose" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Using Rancher through Rancher-Compose<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="rancher-compose">
                        <li><a href="{{site.baseurl}}/docs/rancher-compose/">Using Rancher Compose</a></li>
                        <li><a href="{{site.baseurl}}/docs/rancher-compose/scheduling/">Scheduling </a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a href="#rancherui" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Rancher UI<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="rancherui">
                        <li>
                            <a href="#services" data-toggle="collapse" class="collapsed" data-parent="#applications">Applications<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                            <ul class="collapse list-group-submenu-submenu" id="services">
                                <li>
                                    <a href="#stacks" data-toggle="collapse" class="collapsed" data-parent="#stacks">Stacks<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                                    <ul class="collapse" id="stacks">
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/applications/stacks/adding-services/">Adding Services</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/applications/stacks/adding-service-alias/">Adding Service Alias</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/applications/stacks/adding-balancers/">Adding Balancer Services</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/applications/stacks/adding-external-services/">Adding External Services</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/applications/stacks/">Stack Options</a></li>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                           <a href="#infrastructure" data-toggle="collapse" class="collapsed" data-parent="#infrastructure">Infrastructure<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                           <ul class="collapse list-group-submenu-submenu" id="infrastructure">
                                <li>
                                    <a href="#hosts" data-toggle="collapse" class="collapsed" data-parent="#hosts">Hosts <i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                                    <ul class="collapse list-group-submenu" id="hosts">
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/hosts/">Getting Started with Hosts</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/hosts/digitalocean/">DigitalOcean</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/hosts/amazon/">Amazon EC2</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/hosts/packet/">Packet</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/hosts/rackspace/">Rackspace</a></li>
                                        <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/hosts/custom/">Adding Custom Hosts</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/containers/">Containers</a></li>
                                <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/load-balancers">Load Balancers</a></li>
                                <li><a href="{{site.baseurl}}/docs/rancher-ui/infrastructure/balancer-configs/">Balancer Configs</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}/docs/upgrading/">Upgrading Rancher</a></li>
                <li><a href="{{site.baseurl}}/docs/contributing/">Contributing to Rancher</a></li>
                <li class="panel">
                    <a href="#faqs" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">FAQs<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="faqs">
                        <li><a href="{{site.baseurl}}/docs/faqs/">General</a></li>
                        <li><a href="{{site.baseurl}}/docs/faqs/hosts/">Hosts</a></li>
                        <li><a href="{{site.baseurl}}/docs/faqs/containers/">Containers</a></li>
                    </ul>
                </li>
            </ul><!-- /.navbar-nav -->
        </div><!-- /.navbar-collapse -->
        
        
    </div> <!-- /.navbar-inverse -->
</div> <!-- /.sidebar-nav -->