git+https://github.com/rancher/client-python.git@e3762d5e63e7f9c6ef327e967b876c06dbf43949
websocket-client==0.48.0
PyJWT==1.4.0

apipkg==1.5
argcomplete==1.10.3
atomicwrites==1.3.0
attrs==19.3.0
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
execnet==1.7.1
flake8==3.5.0
google-auth==1.9.0
idna==2.7
ipaddress==1.0.23
kubernetes==6.0.0
mccabe==0.6.1
more-itertools==8.0.2
netaddr==0.7.19
oauthlib==3.1.0
pkg-resources==0.0.0
pluggy==0.6.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.6.0
pytest-forked==1.1.3
pytest-repeat==0.5.0
pytest-xdist==1.22.4
python-dateutil==2.8.1
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.3.0
rsa==4.0
six==1.13.0
urllib3==1.23
