git+https://github.com/rancher/client-python.git@1ecfc3e6a300f5f336da4e4416c46c50d544fd77
websocket-client==0.56.0
PyJWT==2.4.0

flask==2.2.5
pytest==6.2.5
pytest-repeat==0.8.0
pytest-xdist==2.0.0
pytest-timeout==2.1.0
pyyaml==6.0.1
netaddr==0.8.0
requests==2.32.0
kubernetes==12.0.1
jinja2>=2.10
cryptography==42.0.4
werkzeug==2.3.8
