pytest==3.8.1
pytest-repeat==0.7.0
pytest-xdist==1.23.0
boto3==1.10.6
botocore==1.13.6
cryptography==2.8
flake8==3.5.0
invoke==1.2.0
Jinja2==2.10.3
kubernetes==7.0.0
paramiko==2.6.0
python-digitalocean==1.13.2