git+https://github.com/rancher/client-python.git@master#egg=client-python
boto3==1.21.46
cryptography==42.0.4
flake8==3.5.0
invoke==1.2.0
Jinja2==3.1.3
kubernetes==12.0.1
netaddr==0.8.0
paramiko==3.4.0
PyJWT==2.4.0
pytest==6.2.5
pytest-repeat==0.8.0
pytest-xdist==2.0.0
pytest-html==3.2.0
pytest-ordering>=0.6
python-digitalocean==1.13.2
python-terraform==0.10.1
PyYAML==6.0.1
requests==2.31.0
rsa==4.7.2
websocket-client==0.57.0
semver==2.13.0
packaging==23.1
pluggy==1.2.0
