pytest==6.2.5
pytest-repeat==0.8.0
pytest-xdist==2.0.0
boto3==1.21.46
cryptography==41.0.3
flake8==3.9.2
invoke==1.2.0
Jinja2==3.0.0
kubernetes==12.0.1
paramiko==2.10.1
python-digitalocean==1.13.2
PyYAML==6.0.1
packaging==23.1
