ignore_docker_version: true
ssh_key_path: {{ master_ssh_key_path }}
network:
  plugin: {{ network_plugin }}
  {{ network_plugin_options }}
nodes:
  - address: {{ ip_address_0 }}
    user: {{ ssh_user_0 }}
    role: [controlplane,etcd]
  - address: {{ ip_address_1 }}
    user: {{ ssh_user_1 }}
    role: [worker]
  - address: {{ ip_address_2 }}
    user: {{ ssh_user_2 }}
    role: [worker]

system_images:
  etcd: rancher/coreos-etcd:v3.4.3-rancher1

kubernetes_version: {{k8_rancher_image}}
