<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
            <title>{{ site.name }}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="{{ site.description }}">
            <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
            <link href="{{site.baseurl}}/css/syntax.css" rel="stylesheet">
            <link href="{{site.baseurl}}/css/rancher.css" rel="stylesheet">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row body" >
                <div class="col-sm-3">
                    {% include sidebar.html %}
                </div>
                <div class="col-sm-9">
                    <div class="content-container">
                        {{ content }}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <span class="copyright" >Copyright &copy; 2015  <a href="http://rancher.com">Rancher Labs</a>. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/js/rancher.js"></script>
</html>