name: Controller Integration Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - 'release/*'

env:
  GOARCH: amd64
  CGO_ENABLED: 0
  SETUP_GO_VERSION: '1.22.*'

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      -
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          fetch-depth: 0
      -
        uses: actions/setup-go@7b8cf10d4e4a01d4992d18a89f4d7dc5a3e6d6f4 # v4
        with:
          go-version: ${{ env.SETUP_GO_VERSION }}
      -
        name: Run Integration Tests
        env:
          ENVTEST_K8S_VERSION: "1.30"
        run: ./tests/controllers/run_controller_tests.sh
