name: Integration Tests
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - release/v*
      - refs/tags/v*
    tags:
      - v*
  pull_request:
    branches:
      - master
      - release/v*

permissions: {}
env:
  HOST_ARCH: amd64
  ARCH: amd64
  CATTLE_HELM_VERSION: v2.16.8-rancher2
  CATTLE_MACHINE_VERSION: v0.15.0-rancher114
  CATTLE_K3S_VERSION: v1.30.2+k3s2
  CATTLE_K3S_VERSION_DOCKER: v1.30.2+k3s2
  HELM_VERSION: v3.15.2
  KUSTOMIZE_VERSION: v5.4.2
  HELM_UNITTEST_VERSION: 0.3.2
  CATTLE_KDM_BRANCH: dev-v2.9
  CONTROLLER_GEN_VERSION: v0.14.0
  YQ_VERSION: v4.44.2
  PYTHON_VERSION: '3.11'
  GOLANG_VERSION: '1.22'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup RKE_VERSION env
        run: |
          echo "RKE_VERSION=$(grep -m1 'github.com/rancher/rke' go.mod | awk '{print $2}')" >> "$GITHUB_ENV"
      - name: Build and export server
        id: build
        uses: ./.github/actions/build-rancher-server
        with:
          commit: ${{ github.sha }}
          rke_version: ${{ env.RKE_VERSION }}
          image: ${{ github.repository_owner }}/rancher
          tag: ${{ github.sha }}
          kdm_branch: ${{ env.CATTLE_KDM_BRANCH }}
          os: linux
          arch: amd64
          push: false
      - name: Build and export agent
        uses: ./.github/actions/build-rancher-agent
        with:
          commit: ${{ github.sha }}
          tag: ${{ github.sha }}
          os: linux
          arch: amd64
          push: false
      - name: Save Docker images to files
        run: |
          docker save rancher/rancher -o rancher.tar
          docker save rancher/rancher-agent -o rancher-agent.tar
          tar -czf docker-images.tar.gz rancher.tar rancher-agent.tar ./bin/data.json
      - name: Upload Docker images artifact
        uses: actions/upload-artifact@v2
        with:
          name: docker-images
          path: docker-images.tar.gz

  test:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 60
    env:
      K3D_VERSION: v5.7.1
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Clean up Docker
        run: |
          docker system prune -af
          docker volume prune -f
      - name: Download Docker images artifact
        uses: actions/download-artifact@v2
        with:
          name: docker-images
          path: .
      - name: Extract Docker images
        run: tar -xzf docker-images.tar.gz
      - name: Load Docker images
        run: |
          docker load -i rancher.tar
          docker load -i rancher-agent.tar
      - name: Install k3d
        run: curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | TAG=${{ env.K3D_VERSION }} bash
      - name: Uninstall existing Python versions
        run: |
          sudo apt-get remove -y python3
          sudo apt-get autoremove -y
          sudo apt-get purge -y python3
          sudo apt-get clean
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ env.PYTHON_VERSION }}"
      - name: Check Python version
        run: |
          sudo rm -rf /usr/bin/python3
          sudo cp $(which python3) /usr/bin/python3
          python3 --version
          python3 -m ensurepip --upgrade
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ env.GOLANG_VERSION }}" # The Go version to download (if necessary) and use.
      - name: Install Python and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip python3-dev libffi-dev libssl-dev
          sudo pip3 install --upgrade pip
          sudo pip3 install tox flake8

      ## Helm Setup start
      - name: Uninstall Helm
        run: |
          sudo rm -rf /usr/local/bin/helm /usr/bin/rancher-helm /usr/bin/rancher-tiller ~/.helm /usr/local/bin/helm_v3 /usr/local/bin/tiller

      - name: Set Helm 2 URL
        run: echo "HELM_URL_V2=https://github.com/rancher/helm/releases/download/${{ env.CATTLE_HELM_VERSION }}/rancher-helm" >> $GITHUB_ENV

      - name: Set Tiller URL
        run: echo "TILLER_URL=https://github.com/rancher/helm/releases/download/${{ env.CATTLE_HELM_VERSION }}/rancher-tiller" >> $GITHUB_ENV

      - name: Download Rancher Helm
        run: sudo curl -sLf ${{ env.HELM_URL_V2 }} -o /usr/bin/rancher-helm-v2

      - name: Download Rancher Tiller
        run: sudo curl -sLf ${{ env.TILLER_URL }} -o /usr/bin/rancher-tiller

      - name: Set permissions for Helm and Tiller
        run: sudo chmod +x /usr/bin/rancher-helm-v2 /usr/bin/rancher-tiller

      - name: Create symlink for Helm
        run: sudo ln -s /usr/bin/rancher-helm-v2 /usr/bin/helm

      - name: Create symlink for Tiller
        run: sudo ln -s /usr/bin/rancher-tiller /usr/bin/tiller

      - name: Initialize Helm
        run: helm init -c --stable-repo-url https://charts.helm.sh/stable/

      - name: Set Helm 3 URL
        run: echo "HELM_URL_V3=https://get.helm.sh/helm-${{ env.HELM_VERSION }}-linux-${{ env.HOST_ARCH }}.tar.gz" >> $GITHUB_ENV

      - name: Create temporary directory for Helm 3
        run: sudo mkdir /usr/tmp

      - name: Download and extract Helm 3
        run: curl ${{ env.HELM_URL_V3 }} | sudo tar xvzf - --strip-components=1 -C /usr/tmp/

      - name: Move Helm 3 binary
        run: sudo mv /usr/tmp/helm /usr/bin/helm_v3

      ## Helm Setup end

      - name: Run Tests
        run: sudo -E ./scripts/gha/tests
