name: Promote version to stable
on: 
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: "e.g: v2.8.4"
        required: true
env:
  REGISTRY: "docker.io"
  IMAGE: ${{ github.repository }}
  TAG: ${{ github.event.inputs.tag }}
  GIT_TAG: ${{ github.event.inputs.tag }}
jobs:
  promote-docker-image:
    runs-on: ubuntu-latest
    container:
      image: quay.io/skopeo/stable:v1.15
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Load Secrets from Vault
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD
      - name: Skopeo login
        run: echo ${{ env.DOCKER_PASSWORD }} | skopeo login ${{ env.REGISTRY }} --username ${{ env.DOCKER_USERNAME }} --password-stdin
      - name: Copy image to latest
        run: skopeo copy docker://${{ env.REGISTRY }}/${{ env.IMAGE }}:${{ env.TAG }} docker://${{ env.REGISTRY }}/${{ env.IMAGE }}:latest --all
      - name: Copy image to stable
        run: skopeo copy docker://${{ env.REGISTRY }}/${{ env.IMAGE }}:${{ env.TAG }} docker://${{ env.REGISTRY }}/${{ env.IMAGE }}:stable --all
  promote-chart:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - id: env 
        name: Setup Dependencies Env Variables
        uses: ./.github/actions/setup-build-env
      - name: Install dependencies
        env:
          HELM_URL: https://get.helm.sh/helm-${{ steps.env.outputs.HELM_VERSION }}-linux-amd64.tar.gz
        run: |
          curl ${{ env.HELM_URL }} | tar xvzf - --strip-components=1 -C /tmp/ && \
          sudo mv /tmp/helm /usr/bin/helm_v3 && \
          sudo chmod +x /usr/bin/helm_v3
      - name: Copy chart and build index
        run: ./scripts/chart/copy
      - name: Load Secrets from Vault
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/google-auth/rancher/credentials token | GOOGLE_AUTH ;
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@c200f3691d83b41bf9bbd8638997a462592937ed # v2
        with:
          credentials_json: ${{ env.GOOGLE_AUTH }}
      - name: Upload
        uses: google-github-actions/upload-cloud-storage@c0f6160ff80057923ff50e5e567695cea181ec23 # v2
        with:
          destination: releases.rancher.com/server-charts
          path: ./bin/chart
          parent: false
          process_gcloudignore: false
          predefinedAcl: publicRead
          headers: |-
            cache-control: public,no-cache,proxy-revalidate
  update-readme:
    needs: [promote-docker-image, promote-chart]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Update readme to new stable
        shell: bash
        run: |
          # get the current stable from the README comment
          STABLE_VERSION=$(grep -m1 '<!-- stable' README.md | cut -d ' ' -f3)
          # replace the current stable with the new stable
          sed -i "s/$STABLE_VERSION/$TAG/g" README.md
          # get only the minor version e.g. v2.11 and replace with the new minor
          STABLE_MINOR=$(echo "$STABLE_VERSION" | cut -d '.' -f1,2)
          NEW_STABLE_MINOR=$(echo "$TAG" | cut -d '.' -f1,2)
          sed -i "s/$STABLE_MINOR/$NEW_STABLE_MINOR/g" README.md
      - name: Create PR
        shell: bash
        run: |
          BRANCH="githubaction-update-readme-$(date +%Y-%m-%d-%H-%M-%S)"
          echo "::set-output name=branch::$BRANCH"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git checkout -b "$BRANCH"
          git commit -a -m "update README with latest/stable"
          git push origin "$BRANCH"
      - name: Read App Secrets
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/github/app-credentials appId | APP_ID ;
            secret/data/github/repo/${{ github.repository }}/github/app-credentials privateKey | PRIVATE_KEY
      - name: Create App Token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1
        id: app-token
        with:
          app-id: ${{ env.APP_ID }}
          private-key: ${{ env.PRIVATE_KEY }}
      - name: Create PR
        shell: bash
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh pr create \
            --title "update README with latest/stable" \
            --body "Auto-generated by GitHub Actions" \
            --base "main" \
            --assignee ${{ github.triggering_actor }}
