name: Provisioning tests
on:
  workflow_call:
env:
  TAG: ${{ github.sha }}-head
  COMMIT: ${{ github.sha }}
  IMAGE: ${{ github.repository_owner }}/rancher
  IMAGE_AGENT: ${{ github.repository_owner }}/rancher-agent
jobs:
  provisioning_tests:
    strategy:
      fail-fast: false
      matrix:
        include:
        - V2PROV_TEST_DIST: "k3s"
          V2PROV_TEST_RUN_REGEX: "^Test_(General|Provisioning|Fleet)_.*$"
        - V2PROV_TEST_DIST: "rke2"
          V2PROV_TEST_RUN_REGEX: "^Test_(General|Provisioning|Fleet)_.*$"
        - V2PROV_TEST_DIST: "k3s"
          V2PROV_TEST_RUN_REGEX: "^Test_Operation_.*$"
        - V2PROV_TEST_DIST: "rke2"
          V2PROV_TEST_RUN_REGEX: "^Test_Operation_SetA_.*$"
        - V2PROV_TEST_DIST: "rke2"
          V2PROV_TEST_RUN_REGEX: "^Test_Operation_SetB_.*$"
        - V2PROV_TEST_DIST: "rke2"
          V2PROV_TEST_RUN_REGEX: "^Test_PreBootstrap_.*$"
          CATTLE_FEATURES: "provisioningprebootstrap=true"
        - V2PROV_TEST_DIST: "k3s"
          V2PROV_TEST_RUN_REGEX: "^Test_PreBootstrap_.*$"
          CATTLE_FEATURES: "provisioningprebootstrap=true"
    name: Provisioning tests
    runs-on:
      - runs-on
      - spot=false
      - runner=16cpu-linux-x64
      - run-id=${{ github.run_id }}
    env:
      # this is due to the dapper pod having a host-port on the registry-cache container
      # we can hit this registry from dapper OR the host docker if we use the docker IP
      REGISTRY: "172.17.0.2:5000"
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: testdata
        run: mkdir -p build/testdata
      - name: Install Dapper
        run: |
          curl -sL https://releases.rancher.com/dapper/latest/dapper-$(uname -s)-$(uname -m) > ./.dapper
          chmod +x ./.dapper
      - name: Configure Docker for cgroupfs/insecure-registry
        run: |
          echo '{"exec-opts": ["native.cgroupdriver=cgroupfs"], "insecure-registries": ["172.17.0.2:5000"]}' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker
          sudo docker info
      - name: Download Docker images artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          path: "/tmp"
          merge-multiple: true
      - name: Load rancher/rancher image
        run: |
          image_id=$(docker load --input /tmp/rancher-linux-amd64.tar 2>&1 | grep "Loaded image" | awk '{print $NF}')
          if [ -z "$image_id" ]; then
            echo "Error: Failed to load image from tarball!"
            exit 1
          fi

          AMD_IMAGE=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep -E "rancher/rancher:.*amd64.*$" | head -n 1)
          docker tag "$image_id" ${{ env.IMAGE }}:${{ env.TAG }}
          echo "the image created is ${{ env.IMAGE }}:${{ env.TAG }}"
      - name: Load rancher/rancher-agent image
        run: |
          image_agent_id=$(docker load --input /tmp/rancher-agent-linux-amd64.tar 2>&1 | grep "Loaded image" | awk '{print $NF}')
          if [ -z "$image_agent_id" ]; then
            echo "Error: Failed to load image from tarball!"
            exit 1
          fi

          AMD_IMAGE_AGENT=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep -E "rancher/rancher-agent:.*amd64.*$" | head -n 1)
          docker tag "$image_agent_id" ${{ env.REGISTRY }}/${{ env.IMAGE_AGENT }}:${{ env.TAG }}
          echo "the image created is ${{ env.REGISTRY }}/${{ env.IMAGE_AGENT }}:${{ env.TAG }}"
      - name: Run tests
        run: ./.dapper provisioning-tests
        env:
          DRONE_BUILD_EVENT: "${{ github.event_name }}"
          V2PROV_TEST_RUN_REGEX: "${{ matrix.V2PROV_TEST_RUN_REGEX }}"
          V2PROV_TEST_DIST: "${{ matrix.V2PROV_TEST_DIST }}"
          CATTLE_FEATURES: "${{ matrix.CATTLE_FEATURES }}"
          CATTLE_AGENT_IMAGE: "${{ env.IMAGE_AGENT}}:${{ env.TAG }}"
      - name: Rename JSON test output & generate plain text version for debugging
        id: test_output
        run: |
          export TESTSUITE="$(echo '${{ matrix.V2PROV_TEST_RUN_REGEX }}' | sed 's/Test//' | tr -d '()|_^.*$')"
          echo "suite=${TESTSUITE}" >> $GITHUB_OUTPUT
          # need sudo due to this being created in the dapper container
          sudo mv ./build/out.json /tmp/report-${{ matrix.V2PROV_TEST_DIST }}-$TESTSUITE.json

          cat /tmp/report-${{ matrix.V2PROV_TEST_DIST }}-$TESTSUITE.json | \
            sed '/^go:/d' | \
            jq -sr '.[] | .Output' > /tmp/report-${{ matrix.V2PROV_TEST_DIST }}-$TESTSUITE.txt
      - name: Upload JSON and Plain Text Test Results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: "Test Results ${{ matrix.V2PROV_TEST_DIST }} ${{ steps.test_output.outputs.suite }}"
          path: "/tmp/report-${{ matrix.V2PROV_TEST_DIST }}-${{ steps.test_output.outputs.suite }}.*"

  convert-to-xml:
    needs: [provisioning_tests]
    runs-on: org-${{ github.repository_owner_id }}-amd64-k8s
    container: registry.suse.com/bci/bci-base:15.7
    steps:
      - name: Install golang
        run: |
          zypper --non-interactive install golang
      - name: Fetch Raw JSON output
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          merge-multiple: true
          path: /tmp/test-results/
      - name: Convert test results to XML
        run: |
          for file in $(ls /tmp/test-results/report-*.json); do
             echo "Processing $file..."
             go run github.com/jstemmer/go-junit-report/v2@latest -parser gojson < $file > $(sed 's/json/xml/g' <<<$file)
          done
      - name: Upload XML Test Results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: XML Results
          path: "/tmp/test-results/report-*.xml"

  event-file:
    runs-on: org-${{ github.repository_owner_id }}-amd64-k8s
    container: registry.suse.com/bci/bci-base:15.7
    steps:
      - name: Upload GH Event File
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: Event File
          path: ${{ github.event_path }}
