name: Unit Tests
on: [workflow_dispatch, workflow_call]
jobs:
  unit-test:
    runs-on:
      - runs-on
      - spot=false
      - runner=8cpu-linux-arm64
      - run-id=${{ github.run_id }}
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4
      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff  # v5
        with:
          go-version-file: 'go.mod'

      # https://github.com/golang/go/issues/75031
      - name: Set toolchain version
        run: go env -w GOTOOLCHAIN=go1.25.4+auto

      - name: Run unit tests
        run: go test -cover -tags=test ./pkg/...

